@charset "utf-8";
body{
    width: 100%;
    box-sizing: border-box;
}
.inner{
    width: 1100px;
    height: fit-content;
    margin: 0 auto;
}

header i{
    color: #777;
}
header a{
    float: right;
    padding: 11px;
    background: #6ba7eb;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    text-decoration: none;
}
header a:hover{
    color: #333;
    transition: all 0.3s;
}

.keyvisual{
    background-image:url("../images/keyvisual/keyvisual.jpg");
    background-size: cover;
    padding: 400px 0;
}
.title-wrapper{
    width: 100%;
    text-align: center;
}
.title-wrapper h1{
    font-size: 65px;
    font-weight: 700;
    color: #6ba7eb;
    margin-bottom: 30px;
}
.title-wrapper h2{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

.news{
    background: #e3f2fd;
    padding-top: 50px;
}
.news-wrapper{
    display: flex;
    justify-content: center;
}
.news-wrapper img{
    flex-basis: 250px;
    height: auto;
    margin: 0 50px;
}
.news-text-wrapper{
    text-align: center;
    width: 626px;
}
.news-text-wrapper h3{
    margin: 20px 0 35px 0;
    font-size: 40px;
    letter-spacing: 10px;
}
.news-text-wrapper p{
    font-size: 15px;
    line-height: 18px;
    word-break:break-all;
}

.skills{
    text-align: center;
    padding-top: 50px ;
}
.skills h3{  
    font-size: 40px;
    letter-spacing: 10px;
}
.icon-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.icon{
    flex-basis: 300px;
    margin: 50px 0;
}
.icon img{
    width: 100%;
    opacity: 0.7;
}
.icon img:hover{
    opacity: 1;
}
.icon:nth-child(3n+2){
    padding: 0 100px;
}

.plan{
    background: #d0dfea;
    padding: 50px 0;
    text-align: center;
}
.plan h3{
    font-size: 40px;
    letter-spacing: 10px;
    margin-bottom: 50px;
}
.plan-table{
    width: 100%;
    font-size: 16px;
    border-collapse: collapse;
    vertical-align: middle;
}
.plan-table thead{
    background: #6ba7eb;
}
.plan-table th,td{
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    line-height: 26px;
    padding:10px 0
}
.plan-table th:first-child{
    border-left: none;
}
.plan-table tbody tr:nth-child(odd){
    background: #f9f9f9;
}
.plan-table tbody tr:nth-child(even){
    background: #e0efff;
}

.sns{
    background: #e3f2fd;
    padding: 200px 0;
}
.sns-wrapper{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
}
.sns a{
    width: 185px;
    padding: 25px;
}
.sns i{
    font-size: 40px;
    color: #8c8c8c;
    overflow: hidden;
}
.sns i:hover{
    background: #fff;
    transition: all 0.5s;
}

footer{
    background: #cfd8dc;
    text-align: right;
}
.copyright{
    padding: 25px 0;
    font-size: 13px;
    letter-spacing: 0.5px;
}